@font-face {
    font-family: 'HelveticaNeue';
    src: url('/src/fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/src/fonts/helvetica-neue-5/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'HelveticaNeue', sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
    /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    /*  sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body, #root {
    height: 100% !important;
}