.slider_wrapper {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  //opacity: 0.8;

  .close_button {
    position: absolute;
    right: 2.5%;
    top: 5%;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }

      .cross {
        cursor: pointer;
        height: 40px;
        width: 40px;
        position: relative;
        --webkit-transform: rotate(45deg); // this will make the cross an X
        --moz-transform: rotate(45deg); // this will make the cross an X
        transform: rotate(45deg); // this will make the cross an X
      }
      .cross:after, .cross:before {
        position: absolute;
        content: "";
        background: white;
      }
      .cross:after {
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
      }
      .cross:before {
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
      }
  }

  .photo_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;

      @media (min-width: 1024px) {
        width: 60%;
        height: 80%;
      }
      width: 80%;
      height: 80%;
    }
  }


  .container__slider {
    position: relative;
    //width: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    width: 60%;
    height: 60%;
  }

  .container__slider > button {
    background-color: transparent;
    outline: none;
    border: 0;
    color: whitesmoke;
    font-size: 24px;
  }

  .container__slider > button:active {
    color: black;
  }

  .slider__btn-next {
    position: absolute;
    right: 0;
  }

  .slider__btn-prev {
    position: absolute;
    left: 0;
  }

  .container__slider__links {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container__slider__links-small {
    position: relative;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    outline: none;
    border: 0;
    background-color: white;
    border: 1px solid grey;
    transition: background-color 1s ease;
    margin: 0 2px;
  }

  .container__slider__links-small-active {
    background-color: black;
  }

  .slider__item {
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    height: auto;
    transform: translateX(0);
    transition: transform 1s ease;
  }

  .slider__item-active-1 {
    transform: translateX(0);
  }

  .slider__item-active-2 {
    transform: translateX(-100%);
  }

  .slider__item-active-3 {
    transform: translateX(-200%);
  }

  .slider__item-active-4 {
    transform: translateX(-300%);
  }

  .slider__item-active-5 {
    transform: translateX(-300%);
  }

  .slider__item-active-6 {
    transform: translateX(-300%);
  }

  .slider__item-active-7 {
    transform: translateX(-300%);
  }

  .slider__item img {
    width: 100%;
    height: auto;
  }

}